# Python
__pycache__/
*.py[cod]
*.so
*.dylib
*.pkl

# Virtual environments
venv/
env/
ai-server/venv/
.ai_env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Mac system files
.DS_Store

venv/
ai-server/venv/
__pycache__/
node_modules/
*.dylib

